.lottocell {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20% 5px;
  border-radius: 50%;
  font-size: 45px;
  text-align: center;
}
.lottobasic {
  background-color: yellowgreen;
}
.lottobonus {
  background-color: green;
  color: white
}
.lottocell > p {
  margin-top: 23%;
}